<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToDoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A883B6411E4D4E3900D4C8C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A883B6551E4D4E3900D4C8C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A883B6601E4D4E3900D4C8C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
